---
import type { GetStaticPaths } from "astro";
import { ProductDetails } from "../../components/product/ProductDetails";
import MainLayout from "../../layouts/MainLayout.astro";
import { getPriceBy, getPrices } from "../../lib/stripe";
import { Image } from "astro:assets";
import type Stripe from "stripe";

const { priceId } = Astro.params;

const price = await getPriceBy(priceId);
const product = price.product as Stripe.Product;

export const getStaticPaths = (async () => {
  const prices = await getPrices();
  return prices.map((price) => ({
    params: {
      priceId: price.id,
    },
  }));
}) satisfies GetStaticPaths;
---

<MainLayout
  title={product.name}
  description={product.description ?? `Buy ${product.name}`}
>
  <div class="flex gap-6 flex-col md:flex-row items-center md:items-start md:justify-center">
    <div class="w-full flex justify-center">
      <Image
        height={400}
        width={400}
        loading={"lazy"}
        src={product.images[0]}
        alt={product.name}
        transition:name={price.id}
        class="rounded-xl"
      />
    </div>
    <ProductDetails client:only="react" price={price} />
  </div>
</MainLayout>
